{% extends 'base.html' %}

{% block content %}


<!--
Inspired by https://dribbble.com/supahfunk
-->

<div id="body"> 

  <div id="bloc_page">
    <header>
        <div id="titre_principal">
            <div id="logo">
                <img src="static/images/Microsoft_logo.png" alt="Logo de Microsoft" />
                <h1>Ecole Microsoft IA Brest+</h1>    
            </div>
            <h2>Carnets de voyage</h2>
        </div>
        
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Projet</a></li>
                <li><a href="#">Inscription</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <div id="banniere_image">
        <div id="banniere_description">
            PAROLES D'APPRENANTS 
            • Ludivine Maintier :
            "J'ai 34 ans, après l'obtention de mon bac...
            <a href="#" class="bouton_rouge">Voir l'article <img src="static/images/flecheblanchedroite.png" alt="" /></a>
        </div>
    </div>
    
    <section>
        <article>
            <h1><img src="static/images/kusanagi_logo.png" alt="Logo de la promotion Kusanagi" class="ico_categorie" />Formation à l’Isen via Simplon.co</h1>

            <p>20 apprenants seront sélectionnés parmi les candidatures reçues. Femmes et hommes composeront la promotion. Tout demandeur d’emploi peut tenter sa chance. Il n'est pas nécésaire d'avoir un niveau supérieur à bac +3, ni forcément d'avoir travailler dans le domaine de l’informatique, vous pouvez vous inscrire avec un CAP voire aucun diplôme. Qui que vous soyez, vous serez formé au métier de développeur en intelligence artificielle. Avec pour mission d’agréger des données venant de multiples sources, de les analyser et d’en extraire des informations pour leur entreprise. Depuis octobre, nous vous faisons suivre une formation intensive à l’Isen Yncréa ouest qui va durer sept mois. Puis vous partirez en contrat de professionnalisation dans une entreprise (avec laquelle vous serez déjà en relation) pendant un an.</p>

            <h1><img src="static/images/kusanagi_logo.png" alt="Logo de la promotion Kusanagi" class="ico_categorie" />À San Francisco comme à Brest</h1>

            <p>Président de Microsoft France, Carlo Purassanta l’a affirmé&nbsp;: «&nbsp;Depuis trois ans et la création de l'école IA en France (22 sites, dont Rennes, un projet est à l'étude à Lannion), nous avons fait la démonstration que les technologies sont accessibles à tout le monde. 90% des personnes ont un travail à l'issue de la formation.&nbsp;» Carlos Purassanta a expliqué avoir trouvé, à Brest, «&nbsp;un écosystème très intéressant, une ville avec de nombreux atouts dans un monde qui doit se transformer et être plus respectueux de la planète. Un lieu qui affiche cette volonté de faire la différence. Aujourd’hui, c’est la ville et le monde, c’est justement ce que le digital amène. Cette différence, on peut la faire, aussi bien à San Francisco qu'à Brest.&nbsp;» L’école IA de Brest est le fruit d’un partenariat avec Simplon.co, l’Isen, la Région Bretagne, Pôle emploi, Brest métropole et le technopôle Brest Iroise.</p>

            <h1><img src="static/images/kusanagi_logo.png" alt="Logo de la promotion Kusanagi" class="ico_categorie" />La quatrième révolution</h1>

            <p>Pour le président de Microsoft France, «&nbsp;avec la crise sanitaire, nous avons eu une accélération de la compréhension de la nécessité de l’utilisation des nouvelles technologies dans l’organisation des communautés (écoles, entreprises…). Ces outils permettent à des gens de continuer à travailler, à des processus de fonctionner, à des entreprises d’opérer. Après la vapeur, l’électricité, les lignes de production de Taylor et Ford, l’IA représente la quatrième révolution industrielle.&nbsp;»</p>
        </article>
        <aside>
            <h1>école Microsoft IA Brest+</h1>
            <img src="static/images/bulle.png" alt="" id="fleche_bulle" />
            <p id="photo_zozor"><img src="static/images/kusanagi.png" alt="Logo de la promo Kusanagi" /></p>
            <p>Microsoft a ouvert une école en intelligence artificielle (IA) à Brest en octobre 2020. Le nouvel établissement n’avait pu être inauguré à l’époque, en raison de la crise sanitaire. L’inauguration s’est déroulée mardi 9 février 2021, au sein des ateliers des Capucins.</p>
            <p><img src="static/images/facebook.png" alt="Facebook" /><img src="static/images/twitter.png" alt="Twitter" /><img src="static/images/vimeo.png" alt="Vimeo" /><img src="static/images/flickr.png" alt="Flickr" /><img src="static/images/rss.png" alt="RSS" /></p>
        </aside>
    </section>
    <footer>
        <div id="tweet">
            <h1>Micrsoft IA Brest</h1>
            <p>ISEN Brest<br />
                CS 42807<br />
                20 rue Cuirassé Bretagne<br />
                29200 Brest-+33(0)2 98 03 84 00</p>
        </div>
        <div id="mes_photos">
            <h1>Photo</h1>
            <p><a href="static/images/apprenants.jpg"><img src="static/images/apprenantsmini.jpg" alt="Photo des apprenants aux Capucins" title="Cliquez pour agrandir" /></a></p>
        </div>
        <div id="mes_amis">
            <h1>Partenaires</h1>
            <div id="listes_amis">
                <ul>
                    <li>Microsoft</li>
                    <li>Simplon.co</li>
                    <li>ISEN all is digital | yncréa</li>
                    <li>Région Bretagne</li>
                    <li>Pôle emploi</li>
                    <li>Brest Métropole</li>
                </ul>
            </div>
        </div>
    </footer>
</div>











  
<div id="chat-circle" class="btn btn-raised">
        <div id="chat-overlay"></div>
		    <i class="material-icons">speaker_phone</i>
	</div>
  
  <div class="chat-box">
    <div class="chat-box-header">
      Simplon Bot
      <span class="chat-box-toggle"><i class="material-icons">close</i></span>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-overlay">   
      </div>
      <div class="chat-logs">
       
      </div><!--chat-log -->
    </div>
    <div class="chat-input">      
      <form>
        <input type="text" id="chat-input" placeholder="Send a message..."/>
      <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
      </form>      
    </div>
  </div>
  
  
  
  
</div>
  <!--<div class="bg"></div>-->





<script type = "text/javascript" src="../static/main.js"></script>


        




{% endblock %}



   
   
